fastapi
uvicorn
pydantic
pydantic[email]
python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt
langchain
langchain-openai
langchain-community
duckduckgo-search
pinecone-client
sqlalchemy
psycopg2-binary
GeoAlchemy2
qrcode[pil]
Pillow
httpx
langchain-google-genai
gradio
