fastapi
uvicorn
pydantic
pydantic[email]
pydantic-settings
python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt
langchain
langchain-openai
langchain-community
duckduckgo-search
pinecone-client
sqlalchemy
httpx
langchain-google-genai
gradio
